@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
	--main-color: #3B2FDD;
	--color-dark: #232733;
	--text-grey:  #9DA3AA;
}

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
}

.sidebar {
	height: 100%;
	width: 240px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	background: var(--main-color);
	color: #A7C5D4;
}

.sidebar-header {
	display: flex;
	justify-content: space-around;
	align-items: all;
	height: 100px;
}
